:root{
    --green: #5ACD47;
    --greenlight: #76ec66;
    --black: #000000;
    --blacklight: #141414;
    --white: #eaeaea;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/** Navigation Bar **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu.logo-box{
    margin-left: 20px;
}

.menu.logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background: var(--green);
    color: #FFFFFF;
}

.btn-menu > .fa-bars{
    display: none;
}

/*Welcome*/
/*Img header*/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../pictures/first-page.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #FFFFFF;
    border: none;
    margin-top: 5px;
}
.img-header .welcome{
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}
.img-header .welcome > button{
    width: 300px;
    height: 60px;
    background: var(--green);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--greenlight);
}

/*Services*/
.services{
    width: 100%;
    margin-top: 120px;
    background-color: #FFFFFF;
    text-align: center;
}
.about__title{
    color: var(--blacklight);
    font-size: 1rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}
.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about__icon{
    width: 40px;
}